<html>
    <head>
        <title>Add message</title>
    </head>
    <body>
        <h1>Add message: </h1>
        <form method="POST" action="/new">
            <label for="authorName"></label>
            <input name="authorName" placeholder="Enter name">
            <label for="message"></label>
            <input name="message" placeholder="Enter message">
            <button type="submit">Submit</button>
        </form>
        
    </body>
</html>